.Agenda {
    background-color: #ffffff;
    border-right: 1px solid #bdbdbd;
    height: 100%;
    position: relative;
}

.Agenda-inner {
    position: relative;
    overflow-y: auto;
    height: 100%;
}

.Agenda-customersList {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
}

.Agenda-header {

}