.OrderPaymentItem {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.OrderPaymentItem.row {
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 0;
}

.OrderPaymentItem.is-deleted {
    display: none;
}

.OrderPaymentItem .input-field.col {
    margin-bottom: 0;
    padding: 0 .5rem;
}