.OrderItem {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.OrderItem.row {
    margin-bottom: 0;
    margin-top: 0;
}

.OrderItem.is-deleted {
    display: none;
}