.OrderList {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 100%;
    width: 100%;
}

.OrderList-inner {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    padding: 1rem 1rem 8rem;
}

@media (min-width: 601px) {

    .OrderList-inner {
        padding: 1rem 1rem 6rem;
    }

}