.TimelineItem {
    background-color: #fafafa;
    border-left: solid 4px transparent;
    border-bottom: solid 1px #eeeeee;
    color: #212121;
    cursor: default;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto Condensed', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease-in-out, opacity .6s ease-out .8s;
    -moz-transition: all .3s ease-in-out, opacity .6s ease-out .8s;
    -ms-transition: all .3s ease-in-out, opacity .6s ease-out .8s;
    -o-transition: all .3s ease-in-out, opacity .6s ease-out .8s;
    transition: all .3s ease-in-out, opacity .6s ease-out .8s;
    width: 100%;
    height: 72px;
}

.TimelineItem:hover {
    background-color: #ffffff;
}

.TimelineItem:last-of-type {
    border-bottom: none;
}

.TimelineItem.is-opened {
    border-left-color: #00C853;
}

.TimelineItem.is-deleting,
.TimelineItem.is-deleting.is-archived {
    background-color: #EF5350;
    border-color: #EF5350;
    opacity: 0;
}

.TimelineItem.is-deleting * {
    color: #ffffff !important;
}

.TimelineItem.is-deleted {
    display: none;
}

.TimelineItem.is-archived {
    background-color: #212121;
    border-bottom-color: #000000;
    color: #bdbdbd;
}

.TimelineItem.is-archived:hover {
    background-color: #000000;
    border-bottom-color: #000000;
}

.TimelineItem-actions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.TimelineItem-content {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 .5rem;
    width: 100%;
    max-width: 210px;
}

.TimelineItem-customerName {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TimelineItem-customerName span {
    font-weight: 700;
    font-size: 1rem;
}

.TimelineItem-createdTime span {
    font-size: .675rem;
}

button.TimelineItem-actionButton {
    background-color: transparent;
    border: none;
    color: #9E9E9E;
    cursor: pointer;
    height: 72px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 60px;
}

.TimelineItem.is-archived button.TimelineItem-actionButton {
    color: #bdbdbd;
}

.TimelineItem.is-archived button.TimelineItem-actionButton:hover {
    color: #ffffff;
}

button.TimelineItem-actionButton:hover {
    background-color: #9E9E9E;
    border-color: #9E9E9E;
    color: #ffffff;
}

button.TimelineItem-actionButton--print {
    color: #00C853;
}

button.TimelineItem-actionButton--print:hover {
    background-color: #00C853;
    border-color: #00C853;
}

button.TimelineItem-actionButton--archive {
    color: #FFAB00;
}

button.TimelineItem-actionButton--archive:hover {
    background-color: #FFAB00;
    border-color: #FFAB00;
}

button.TimelineItem-actionButton span.material-icons {
    font-size: 1.3125rem;
}

button.TimelineItem-actionButton span.material-icons.pulse {
    z-index: 9200;
}

button.TimelineItem-actionButton span.material-icons.pulse:before {
    -webkit-animation: actionButton-pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    animation: actionButton-pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    background-color: #bdbdbd;
    border-radius: 50%;
    z-index: 9100;
}

button.TimelineItem-actionButton--print span.material-icons.pulse:before {
    background-color: #00C853;
}

@-webkit-keyframes actionButton-pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@keyframes actionButton-pulse-animation {
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}