.Timeline {
    background-color: #e0e0e0;
    border-left: 1px solid #bdbdbd;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.Timeline-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    position: relative;
    width: 100%;
}